h1{
    color:blue;
    font-family: "Arial, sans-serif";
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
p{
    font-family: "Arial, sans-serif";
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}